<header>

</header>
<section id="welcome" class="hero section-default |">
  <div class="welcome text">
    <h1>Cashulator</h1>
    <h4>Financial Management Made Simple</h4>
  </div>
</section>
<section id="about" class="odd section-default |">
  <p class="paragraph-default">
    Cashulator provides a simple and easy way to manage your finances. It will automatically calculate your revenue and expresses, creating an easy-to-read graph laying out your statistics.
  </p>
</section>
<section id="features" class="section-default |">
</section>
<footer></footer>
